<h1>Edit a task</h1>
<%= form_for @task do |f| %>

<%= f.label :name, "Enter a name" %>
<%= f.text_field :name %>

<%= f.label :done, "Status?" %>
<%= f.text_field :done %>

<%= f.submit %>
<% end %>

